


:root {

    --Lilac: #303179;
    --Purple: #864AF9;
    --White: #ffffff;
}


html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: var(--White);
    
}
a{
    text-decoration:none;
}

#options {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0;
}

#back {
    position: fixed;
    bottom: 15px;
    left: 15px;
    z-index: 1000;
}
    #back > * {
        color: #332941;
        font-size: x-large;
    }


.navbar {
    background-color: var(--White);
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 400;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1100; 
}
    .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link {
        color: #808080;
        opacity: 100%;
        transition: all 0.5s ease-in-out;
    }


        .navbar .container-fluid .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
            color: var(--Purple);
        }

header{
    margin-bottom:60px;
}

.d-flex .btn {
    font-size: 20px;
    height: auto;
    width: auto;
    transition: all 0.4s ease-out;
    border-radius: 10px;
    background-color: var(--Purple);
    border: 2px solid rgba(0,0,0,0);
    color: var(--White);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin: 0 5px;
}

    .d-flex .btn:hover {
        background-color: var(--White);
        border: 2px solid var(--Purple);
        color: var(--Purple);
    }

.hide{
    display: none;
}


