@model ProiectDAW.Models.Project



<h2 class="text-center mt-5">Edit project</h2>
<br />
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">
            @using (Html.BeginForm(actionName: "Edit", controllerName: "Projects",
            method: FormMethod.Post,
            routeValues: new { id = Model.Id }))
            {

                @Html.Label("Title", "Nume proiect")
                <br />
                @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
                <br />
                @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })


                <br />
                <br />

                <button class="btn btn-sm btn-success" type="submit">Actualizează</button>

            }
        </div>
    </div>
</div>



