@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@{
    ViewBag.Title = "Projects";
    <head>
        <link rel="stylesheet" href="~/css/projects.css">
    </head>
}

@if (ViewBag.Message != null)
{
    <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}

<br/>
<br />


@if (ViewBag.Projects is int)
{
    <h3 class="display-4 text-center">There are no projects to display. Would you like to add one?</h3>
    <br />
    <div class="d-flex justify-content-center">
        <a class="btn" href="/Projects/New">Add a project!</a>
    </div>
}
else
{

    <div class="container-fluid">
        <div class="d-flex justify-content-evenly">
            <h2 class="text-center">Listă proiecte:</h2>

            <a class="btn" href="/Projects/New"><i class="bi bi-plus-circle"></i>Proiect nou</a>

        </div>
    </div>

    <div class="container projects-container col m-5">

            @foreach (ProiectDAW.Models.Project project in ViewBag.Projects)
            {

                <a class="justify-content-center col-lg-3 m-2" href="/Projects/Show/@project.Id">

                <div class="card-body justify-content-center border rounded border-primary">

                        <div class="prog-title">@project.Name</div>

                    </div>
                </a>
            }

    </div>



}
